@media print {
  body * {
    visibility: hidden;
  }
  #printable, #printable * {
    visibility: visible;
  }
  #printable {
    margin: 50px 0;
    position: fixed;
    left: 0;
    top: 0;
  }
  #printable .button-group{
    display: none;
  }
}